#welcome_title {
  background-color: #E65100;
  width: 300px;
  color: white;
  margin-bottom: 0px;
}

#login_area {
  background-color: #FFD180;
  width: 300px;
  height: 350px;
  text-align: center;
  border-radius: 0 0 25px 25px;
  box-shadow: 20px 20px 1px 5px #FFB74D;
  margin-left: 80%;
}

#login_error_msg {
  font-size: 20px;
  color: #E65100;
}

#login_form {
  display: block;
  margin-top: 50px;
}

#register_form {
  display: none;
  margin-top: 25px;
}

.buttons {
  color: white;
  background: #E65100;
  width: 150px;
  border: solid #FF6D00 1px;
  margin-top: 0px;
}

#earth, #clouds, #satellite {
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}
